<div class="container-fluid" id="app-intro-section">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner">
                            <h1 class="headline">Hello - I'm Lizaam, Front End Developer</h1>
                            <p class="about-headline">This website outline all my specialties, experience, education and
                                previous projects, if you want to know more, feel free to contact me.</p>
                            <div class="buttons">
                                <button type="button" class="btn btn-primary mr-2 rounded-0 py-3 px-4">Download CV</button>
                                <button type="button" class="btn btn-light rounded-0 py-3 px-4">Hire Me Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>