<div class="container-fluid content-section" id="app-resume-section">
  <div class="display-table">
    <div class="table-cell">
      <div class="container">
        <div class="sec-title">
          <div class="row">
            <div class="col-md-4">
              <div class="sec-title-left">
                <h2>My Resume</h2>
                <h3>Experience &amp; Education &amp; Awards</h3>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-center">
                <p>Mado is a Resume perfectly suits for Personal Portfolio, designers, freelancers, developers, coders
                  or
                  any other professions.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-right">
                <button type="button" class="btn btn-outline-light rounded-0 py-3 px-4 btn-0">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="resume-details-box">
          <div class="row">
            <div class="col-md-3">
              <div class="resume-details-box-title">
                <h4>Experience</h4>
              </div>
            </div>
            <div class="col-md-9">
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Facebook.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <div class="details-title">Senior product Designer</div>
                      <div class="details-time">2012-2014</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Spotify.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <div class="details-title">Art Direction Designer</div>
                      <div class="details-time">2014-2016</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Invision Inc.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <div class="details-title">Junior UX/UI Designer</div>
                      <div class="details-time">2016-2018</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="resume-details-box">
          <div class="row">
            <div class="col-md-3">
              <div class="resume-details-box-title">
                <h4>Education</h4>
              </div>
            </div>
            <div class="col-md-9">
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Facebook.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <div class="details-title">Senior product Designer</div>
                      <div class="details-time">2012-2014</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Spotify.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <div class="details-title">Art Direction Designer</div>
                      <div class="details-time">2014-2016</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="resume-details-box">
          <div class="row">
            <div class="col-md-3">
              <div class="resume-details-box-title">
                <h4>Awards</h4>
              </div>
            </div>
            <div class="col-md-9">
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Facebook.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-details">
                <div class="row">
                  <div class="col-md-4">
                    <div class="name-company">Spotify.</div>
                  </div>
                  <div class="col-md-4">
                    <div class="details-company">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="button-company">
                      <button type="button" class="btn-1 btn btn-primary rounded-0 py-3 px-4">View All</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>