#app-intro-section {
    background: url(../../../assets/bg-main.jpg) no-repeat scroll 0 0 / cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner .headline {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner .about-headline {
    font-size: 16px;
    color: #676767;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}