<div class="container-fluid p-3" id="app-top-bar">
    <div class="row align-items-center">
        <div class="col-md-4 col-xs-12">
            <div class="open-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <p id="make-shift-logo" class="m-0">
                <span class="logo-letter">L</span>
                <span>Lizaam Esau</span>
            </p>
        </div>
        <div class="col-md-4 col-xs-12 text-right">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>
