#app-top-bar {
    transition: linear 0.1s;
    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    color: #fff;
    font-size: 20pt;
    text-transform: uppercase;
}

.open-menu {
    padding: 20px 15px;
    cursor: pointer;
    width: 60px;

    &:hover {
        span {
            width: 100% !important;
            background-color: #0cb4ce;
            transition: linear 0.1s;
            -webkit-transition: linear 0.1s;
            -moz-transition: linear 0.1s;
            -ms-transition: linear 0.1s;
        }
    }

    span {
        display: block;
        height: 3px;
        width: 30px;
        background-color: #fff;
    }

    span:nth-of-type(1) {
        width: 50%;
    }

    span:nth-of-type(2) {
        margin: 5px 0;
    }

    span:nth-of-type(3) {
        width: 50%;
        float: right;
    }
}

.scrolled-top {
    background: #343434;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    padding: 25px !important;
}
