<div class="container-fluid content-section" id="app-resume-section">
  <div class="display-table">
    <div class="table-cell">
      <div class="container">
        <div class="sec-title">
          <div class="row">
            <div class="col-md-4">
              <div class="sec-title-left">
                <h2>My Projects</h2>
                <h3>Let's review my previous projects</h3>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-center">
                <p>Mado is a Resume perfectly suits for Personal Portfolio, designers, freelancers, developers, coders
                  or
                  any other professions.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-right">
                <button type="button" class="btn btn-outline-light rounded-0 py-3 px-4 btn-0">View More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mixitup-container">
          <ul class="filter-list-items">
            <li data-filter="all">All</li>
            <li data-filter=".ad-campaigns">Advertising</li>
            <li data-filter=".web-apps">Web Apps</li>
            <li data-filter=".mobile-apps">Mobile Apps</li>
            <li data-filter=".sa-brands">SA Brands</li>
            <li data-filter=".ukr-brands">Ukraine Brands</li>
          </ul>
          
          <div class="mix-list">
            <img src="../../../assets/projects/sa-aramex/main.PNG" class="mix all ad-campaigns sa-brands" />
            <img src="../../../assets/projects/ukr-aperol/main.PNG" class="mix all ad-campaigns ukr-brands" />
            <img src="../../../assets/projects/stories/main.PNG" class="mix all ad-campaigns web-apps" />
            <img src="../../../assets/projects/sa-dstv/main.PNG" class="mix all ad-campaigns sa-brands" />
            <img src="../../../assets/projects/sa-balwin/main.PNG" class="mix all ad-campaigns sa-brands" />
            <img src="../../../assets/projects/ukr-multplex/main.PNG" class="mix all ad-campaigns ukr-brands" />
            <img src="../../../assets/projects/ukr-shopping-mall/main.PNG" class="mix all ad-campaigns ukr-brands" />
            <img src="../../../assets/projects/sa-ogilvy/main.PNG" class="mix all ad-campaigns sa-brand" />
            <img src="../../../assets/projects/sa-jb/main.PNG" class="mix all ad-campaigns sa-brands" />
            <img src="../../../assets/projects/sa-mcdonalds/main.PNG" class="mix all ad-campaigns sa-brands" />
            <img src="../../../assets/projects/sa-bizcash/main.PNG" class="mix all ad-campaigns sa-brands" />
            <img src="../../../assets/projects/ukr-memory-game/main.PNG" class="mix all ukr-brands" />
            <img src="../../../assets/projects/ukr-visa/main.PNG" class="mix all ad-campaigns ukr-brands" />
            <img src="../../../assets/projects/hubble-maps/main.PNG" class="mix all web-apps" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>