<div class="container-fluid content-section" id="app-resume-section">
  <div class="display-table">
    <div class="table-cell">
      <div class="container">
        <div class="sec-title">
          <div class="row">
            <div class="col-md-4">
              <div class="sec-title-left">
                <h2>My Services</h2>
                <h3>Our best services for you</h3>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-center">
                <p>Mado is a Resume perfectly suits for Personal Portfolio, designers, freelancers, developers, coders
                  or
                  any other professions.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-right">
                <button type="button" class="btn btn-outline-light rounded-0 py-3 px-4 btn-0">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row one">
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-desktop"></i>
              <h5>UI/UX Designer</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-th"></i>
              <h5>Layout Design</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-lightbulb-o"></i>
              <h5>Idea Sttaring</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-headphones"></i>
              <h5>Fast Support</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-flag"></i>
              <h5>Branding</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-globe"></i>
              <h5>SEO Optimized</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
        </div>
        <div class="sec-title">
          <div class="row">
            <div class="col-md-4">
              <div class="sec-title-left">
                <h2>My Process</h2>
                <h3>How my working process goes</h3>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-center">
                <p>Mado is a Resume perfectly suits for Personal Portfolio, designers, freelancers, developers, coders
                  or
                  any other professions.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="sec-title-right">
                <button type="button" class="btn btn-outline-light rounded-0 py-3 px-4 btn-0">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row one">
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-pencil-square-o"></i>
              <h5>Discuss/Plan</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-file-code-o"></i>
              <h5>Design/Develop</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services-box">
              <i class="fa fa-rocket"></i>
              <h5>Test/Launch</h5>
              <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard
                dummy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>