/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
}

/* Bootstrap styles */
.btn-primary {
    background-color: #0cb4ce;
}

/* Styles used globally */
.content-section {
    background-color: #343434;
    padding: 0 60px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;

    .table-cell {
        vertical-align: middle;
        display: table-cell;
        padding: 50px 0;
    }
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title .sec-title-left,
.sec-title .sec-title-center,
.sec-title .sec-title-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.sec-title .sec-title-left h2 {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: #0cb4ce;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 2px;
    font-family: "DM Sans", sans-serif;
}
.sec-title .sec-title-left h2:after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #0cb4ce;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5px;
}
.sec-title .sec-title-left h3 {
    color: #ffffff;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec-title .sec-title-center p {
    margin: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    line-height: 25px;
    color: #9b9b9b;
}
.sec-title .sec-title-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
